#home {
    font-size: 20px;
}

h2 {
    font-family: "Tourney", sans-serif;
    color: white;
    font-size: 60px;
    font-optical-sizing: auto;
    font-weight:200;
    text-align: center;
    margin: 20px 0 0 0;
}

p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#collapsibleTree {
    margin-top: 50px;
}

/* Apply styles to nodes */
.node circle {
    fill: #fe019a; /* Node circle color */
    stroke: #fe019a; /* Node circle border color */
    stroke-width: 2.5; /* Node circle border width */
}

.node text {
    fill: white; /* Node text color */
    font-family: Arial, Helvetica, sans-serif;
}

/* Apply styles to links */
.link {
    fill: none;
    stroke: #fe019a; /* Link color */
    stroke-width: 1; /* Link width */
}
